*
	padding: 0
	margin: 0
	box-sizing: border-box

html, body
	font-size: 18px
	font-family: 'Public Sans', sans-serif

.attribution
	font-size: 11px
	text-align: center

	a
		color: hsl(228, 45%, 44%)

	-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		background: $lightBase
		margin: 0

code
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace

.global
	min-width: 100vw
	min-height: 100vh


.content
	width: calc(100% - 2rem)
	padding: 1rem 1rem
	max-width: $content
	margin: 0 auto

	&.marginTop
		margin-top: 1rem



.logo
	background: url("../images/logo.svg") no-repeat center
	width: 200px
	height: calc(#{$navHeight} - 2rem)
	background-size: 90%

	&.white
		background: url("../images/logoWhite.svg") no-repeat center

/**** FONT ****/
h1, h2, h3, h4, h5
	font-size: 3.5rem
	font-weight: 300
	padding: 1rem 0

h2
	font-size: 2.8rem

h3
	font-size: 1.4rem

h4
	font-size: 1.1rem

h5
	font-size: 1.1rem

img
	width: 100%

a
	text-decoration: none
	color: $darkText
	cursor: pointer

	&:hover
		color: $green

p, span
	line-height: 1.5rem
	font-weight: 300


ul, ol
	margin-left: 1rem

	&.grid
		grid-gap: 1rem
		li
			list-style: none